body{
  margin: 0;
  padding: 0;
  background: rgb(104, 189, 168)
}

h1{
  font-size: 40px;
  font-family: "blenny";
  margin: 20px;
  text-align: center;
  color: rgb(255, 255, 255)
}

ul{
  font-weight: 400;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

li{
  list-style-type: none;
  margin: 20px;
}
