body{
  margin: 0;
  padding: 0;
  background: rgb(104, 189, 168)
}

.topsec{
  display: flex;
  width: 98%;
  height: 100px;
  /* background: brown; */
  margin: 0 auto;
  padding-left: 30px;
  margin-bottom: 200px;
  justify-content: center;
  align-content: center;
}

.middle{
  display: flex;
  position: relative;
  width: 75%;
  height: 60%;
  /* background: rgb(224, 67, 33); */
  margin: 0 auto;
}

h1{
  position: relative;
  font-size: 70px;
  font-family: "blenny";
  color: rgb(255, 255, 255)
}

.projectlist{
  display: flex;
  flex-direction: column;
  font-family: "urbane";
  color: white;
  position: relative;
  align-content: center;
  justify-content: center;
  width: 100%;
  /* background: rgb(204, 238, 106); */
}

.menu{
  position: relative;
  border-bottom: solid 1px white;
  width: 100%;
  margin: 15px;
  padding-bottom: 10px;
  height: 45px;
  transition: scale 3s ease;
  background: rgb(104, 189, 168);

  /* background: rgb(113, 181, 126); */
}

.menu:hover {
  transform: scale(1.15);
}

.btn {
    padding: 30px;
    background: rgb(44, 101, 126);
    position: fixed;
    transition: background 1s ease,
    transform 1s;
}
.btn:hover{
    background: rgb(83, 92, 99);
    transform: scale(1.25);
}

.next-btn{
  top: 50%;
  right: 0;
}

.prev-btn{
  top: 50%;
  left: 0;}

h2{
  list-style: none;
  font-weight: 100;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover{
  color: black;
}
