.btn {
    font-family: "urbane";
    padding: 30px;
    background: rgb(105, 251, 159);
    position: fixed;
    transition: background 1s ease,
    transform 1s;
  }

.btn:hover{
    background: rgb(178, 237, 200);
    transform: scale(1.25);
}

.next-btn{
  top: 50%;
  right: 0;
}

.prev-btn{
  top: 50%;
  left: 0;
}

.btn:link{
  text-decoration: none;
  color: white;
}

.btn:visited{
  text-decoration: none;
  color: white;
}
