.all{
  font-family: "urbane";
  display: flex;
  flex-direction: column;
  width: 40%;
  /* padding-top: 170px; */
  padding-left: 525px;
  text-align: left;
  font-size: 80px;
}

.title{
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-around;
  width: 40%;
  font-size: 130px;
  letter-spacing: -15px;
  line-height: 90%;
  left: 10px;
  top: 15px;
  font-family: "blenny";
  color: rgb(105, 251, 159);
  /* background: green; */
  animation: pulse 5s infinite ease-in-out alternate;
}

.stay{
  position: fixed;
  color: rgb(105, 251, 159);
  animation: pulse 5s infinite ease-in-out alternate;
}

h2{
  font-size: 80px;
  font-weight: normal;
}

a:link {
  text-decoration: none;
  color: rgb(105, 251, 159);
}

a:visited {
  text-decoration: none;
  color: rgb(105, 251, 159);
}

a:hover{
  color: black;
}
